/* Estilizar los títulos de sección */
.woocommerce-notices-wrapper {
display: none !important;
}
/*.et_pb_wc_checkout_billing > div:nth-child(1) {
display: none;
}*/
.woocommerce-info {
display: none;
}
.coupon {
display: none !important;
}

table.shop_table:nth-child(1) > thead:nth-child(1) {
display: none;
}

.wapf--inner {
display: none !important;
}
td.product-price {
display: none !important;
}

td.product-quantity {
display: none !important;
}

td.product-subtotal {
display: none !important;
}

#custom_checkout_fields h3 {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50; /* Verde */
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 30px;
}

#custom_checkout_fields p {
padding: 5px;
margin-top : 10px;
}


.radio-inline-group > .woocommerce-input-wrapper{
    display: flex;
    gap: 20px;
}


/* Espaciado entre secciones */
#custom_checkout_fields{
    background: #f9f9f9;
  opacity: 0.7;
  padding: 20px !important;
}

.stock-info {
  font-weight: bold;
  margin-left: 5px;
}

/* Color verde para plazas disponibles */
.stock-info:not(:contains('Sin plazas')) {
  color: #28a745;
}

/* Color rojo para sin plazas */
.stock-info:contains('Sin plazas') {
  color: #dc3545;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.wapf-input-label.sin-stock {
  opacity: 0.7;
  text-decoration: line-through;
}

.stock-info {
  font-weight: bold;
  margin-left: 5px;
}

/* Color verde para plazas disponibles */
.stock-info:not(:contains('Sin plazas')) {
  color: #28a745;
}

/* Color rojo para sin plazas */
.stock-info:contains('Sin plazas') {
  color: #dc3545;
}

.woocommerce-additional-fields {
    /*display: none !important; /* Oculta la sección de información adicional */
}

#adminmenu .current div.wp-menu-image::before {
  color:#fff0 !important;
}

/*
* Removemos los detalles de facturacion
*/

.woocommerce-billing-fields h3 {
    display: none !important;
}
.woocommerce-billing-fields {
    display: none !important;
}

.beca-limite-alcanzado {
    color: #dc3545 !important;
    font-weight: bold !important;
  text-decoration: line-through !important;
}

.woocommerce-checkout p.woocommerce-invalid-required-field span.error {
  color: #93003c;
  display: block !important;
  font-weight: bold;
}






